*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topNav{
    background-color: rgb(240, 246, 156);
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
.container{
    margin: auto;
    padding: 20px 10px;
    max-width: 800px;
    height: 400px;
    
}
